<a href="https://colab.research.google.com/github/jungeun919/Deep_learning/blob/main/MaxPool2D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pooling

Flatten Layer 이후에 사용되는 가중치 개수를 작게 유지하기 위해 입력으로 사용할 칼럼수를 조정하는 것이 목적

# Pooling Layer

In [ ]:
import tensorflow as tf
import pandas as pd

In [ ]:
# 데이터를 준비하고
(독립, 종속), _ = tf.keras.datasets.mnist.load_data()
독립 = 독립.reshape(60000, 28, 28, 1)
종속 = pd.get_dummies(종속)
print(독립.shape, 종속.shape)

(60000, 28, 28, 1) (60000, 10)

In [ ]:
# 모델을 만들고
X = tf.keras.layers.Input(shape=[28, 28, 1])

H = tf.keras.layers.Conv2D(3, kernel_size=5, activation='swish')(X)
H = tf.keras.layers.MaxPool2D()(H)

H = tf.keras.layers.Conv2D(6, kernel_size=5, activation='swish')(H)
H = tf.keras.layers.MaxPool2D()(H)

H = tf.keras.layers.Flatten()(H)
H = tf.keras.layers.Dense(84, activation='swish')(H)
Y = tf.keras.layers.Dense(10, activation='softmax')(H)
model = tf.keras.models.Model(X, Y)
model.compile(loss='categorical_crossentropy', metrics='accuracy')

In [ ]:
# 모델을 학습하고 이용합니다.
model.fit(독립, 종속, epochs=10)

pred = model.predict(독립[:5])
pd.DataFrame(pred).round(2)

Epoch 1/10
1875/1875 [==============================] - 17s 8ms/step - loss: 2.0735 - accuracy: 0.7817
Epoch 2/10
1875/1875 [==============================] - 16s 9ms/step - loss: 0.1561 - accuracy: 0.9555
Epoch 3/10
1875/1875 [==============================] - 16s 8ms/step - loss: 0.1081 - accuracy: 0.9691
Epoch 4/10
1875/1875 [==============================] - 16s 8ms/step - loss: 0.0963 - accuracy: 0.9714
Epoch 5/10
1875/1875 [==============================] - 17s 9ms/step - loss: 0.0855 - accuracy: 0.9746
Epoch 6/10
1875/1875 [==============================] - 16s 9ms/step - loss: 0.0829 - accuracy: 0.9760
Epoch 7/10
1875/1875 [==============================] - 22s 12ms/step - loss: 0.0778 - accuracy: 0.9775
Epoch 8/10
1875/1875 [==============================] - 17s 9ms/step - loss: 0.0783 - accuracy: 0.9777
Epoch 9/10
1875/1875 [==============================] - 17s 9ms/step - loss: 0.0719 - accuracy: 0.9798
Epoch 10/10
1875/1875 [==============================] - 17s 9ms/step - loss: 0.0709 - accuracy: 0.9798

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
3  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

In [ ]:
# 정답 확인
종속[:5]

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  1  0  0  0  0
1  1  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  1  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  1

In [ ]:
# 모델 확인
model.summary()

Model: "model"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_1 (InputLayer)         [(None, 28, 28, 1)]       0
_________________________________________________________________
conv2d (Conv2D)              (None, 24, 24, 3)         78
_________________________________________________________________
max_pooling2d (MaxPooling2D) (None, 12, 12, 3)         0
_________________________________________________________________
conv2d_1 (Conv2D)            (None, 8, 8, 6)           456
_________________________________________________________________
max_pooling2d_1 (MaxPooling2 (None, 4, 4, 6)           0
_________________________________________________________________
flatten (Flatten)            (None, 96)                0
_________________________________________________________________
dense (Dense)                (None, 84)                8148
_________________________________________________________________
dense_1 (Dense)              (None, 10)                850
=================================================================
Total params: 9,532
Trainable params: 9,532
Non-trainable params: 0
_________________________________________________________________

(4, 4, 6)
(96)
-> 4 * 4 * 6 = 96

(96)
(84)
param 개수 = 84 * (96 + 1) = 8148