<a href="https://colab.research.google.com/github/jungeun919/Deep_learning/blob/main/Conv2D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Convolution (합성곱)

일정한 패턴의 특징이 어디서 나타나는지를 확인하는 도구

<br>

대상 이미지로부터 필터를 통해 특징을 잡아낸 컨볼루션의 결과를

특징에 대한 위치 정보가 표현된 지도라는 의미로 **특징맵 (feature map)**이라는 이름으로 부른다.

컨볼루션 연산은 3차원 형태의 관측치를 입력으로 받는다.

# 필터의 이해


*   필터는 **3차원 형태**로 된 가중치의 모음

*   필터 하나는 앞선 레이어의 결과인 **"특징맵"전체를 본다.**

*   **필터 개수 만큼** 특징맵을 만든다.

# Convolution Layer

In [ ]:
import tensorflow as tf
import pandas as pd

# 데이터를 준비하고
(독립, 종속), _ = tf.keras.datasets.mnist.load_data()
print(독립.shape, 종속.shape)

독립 = 독립.reshape(60000, 28, 28, 1)
종속 = pd.get_dummies(종속)
print(독립.shape, 종속.shape)

(60000, 28, 28) (60000,)
(60000, 28, 28, 1) (60000, 10)

In [ ]:
# 모델을 만들고
X = tf.keras.layers.Input(shape=[28, 28, 1])
H = tf.keras.layers.Conv2D(3, kernel_size=5, activation='swish')(X) # Conv2D(만드려는 필터의 개수, size:(5,5))
H = tf.keras.layers.Conv2D(6, kernel_size=5, activation='swish')(H)
H = tf.keras.layers.Flatten()(H)
H = tf.keras.layers.Dense(84, activation='swish')(H)
Y = tf.keras.layers.Dense(10, activation='softmax')(H)

model = tf.keras.models.Model(X, Y)
model.compile(loss='categorical_crossentropy', metrics='accuracy')

In [ ]:
# 모델을 학습하고
model.fit(독립, 종속, epochs=10)

# 모델을 이용합니다.
pred = model.predict(독립[:5])
pd.DataFrame(pred).round(2)

Epoch 1/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.7858 - accuracy: 0.8679
Epoch 2/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0680 - accuracy: 0.9802
Epoch 3/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0415 - accuracy: 0.9877
Epoch 4/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0269 - accuracy: 0.9917
Epoch 5/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0212 - accuracy: 0.9939
Epoch 6/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0157 - accuracy: 0.9956
Epoch 7/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0141 - accuracy: 0.9956
Epoch 8/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0123 - accuracy: 0.9959
Epoch 9/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0108 - accuracy: 0.9968
Epoch 10/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0099 - accuracy: 0.9972

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
3  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

In [ ]:
# 정답 확인
종속[:5]

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  1  0  0  0  0
1  1  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  1  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  1

In [ ]:
# 모델 확인
model.summary()

Model: "model_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_4 (InputLayer)         [(None, 28, 28, 1)]       0
_________________________________________________________________
conv2d_6 (Conv2D)            (None, 24, 24, 3)         78
_________________________________________________________________
conv2d_7 (Conv2D)            (None, 20, 20, 6)         456
_________________________________________________________________
flatten_3 (Flatten)          (None, 2400)              0
_________________________________________________________________
dense_6 (Dense)              (None, 84)                201684
_________________________________________________________________
dense_7 (Dense)              (None, 10)                850
=================================================================
Total params: 203,068
Trainable params: 203,068
Non-trainable params: 0
_________________________________________________________________



*   Input(shape=[28, 28, 1])
*   Conv2D(3, kernel_size=5, activation='swish')

-> shape는 (kernel_size - 1) 픽셀이 줄어든다.

위에서는 (4, 4) 픽셀이 줄어든다.