<a href="https://colab.research.google.com/github/jungeun919/Deep_learning/blob/main/Predict_Boston_house_price.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 보스턴 집값 예측

In [1]:
# 라이브러리 사용
import tensorflow as tf
import pandas as pd

In [2]:
# 1.과거의 데이터를 준비합니다.
파일경로 = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv'
보스턴 = pd.read_csv(파일경로)
print(보스턴.columns)
보스턴.head()

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

      crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [3]:
# 독립변수, 종속변수 분리 
독립 = 보스턴[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
            'ptratio', 'b', 'lstat']]
종속 = 보스턴[['medv']]
print(독립.shape, 종속.shape)

(506, 13) (506, 1)

In [4]:
# 2. 모델의 구조를 만듭니다
X = tf.keras.layers.Input(shape=[13])
Y = tf.keras.layers.Dense(1)(X)
model = tf.keras.models.Model(X, Y)
model.compile(loss='mse')

In [5]:
# 3.데이터로 모델을 학습(FIT)합니다.
model.fit(독립, 종속, epochs=1000, verbose=0)
model.fit(독립, 종속, epochs=10)

Epoch 1/10
16/16 [==============================] - 0s 2ms/step - loss: 26.2144
Epoch 2/10
16/16 [==============================] - 0s 2ms/step - loss: 26.8036
Epoch 3/10
16/16 [==============================] - 0s 2ms/step - loss: 26.4495
Epoch 4/10
16/16 [==============================] - 0s 2ms/step - loss: 26.8851
Epoch 5/10
16/16 [==============================] - 0s 2ms/step - loss: 26.4194
Epoch 6/10
16/16 [==============================] - 0s 2ms/step - loss: 26.4291
Epoch 7/10
16/16 [==============================] - 0s 2ms/step - loss: 26.3955
Epoch 8/10
16/16 [==============================] - 0s 2ms/step - loss: 27.1139
Epoch 9/10
16/16 [==============================] - 0s 2ms/step - loss: 26.4008
Epoch 10/10
16/16 [==============================] - 0s 2ms/step - loss: 26.4060

In [6]:
# 4. 모델을 이용합니다
print(model.predict(독립[5:10]))
# 종속변수 확인
print(종속[5:10])

[[26.431807]
 [21.330357]
 [18.283615]
 [ 9.617926]
 [17.958517]]
   medv
5  28.7
6  22.9
7  27.1
8  16.5
9  18.9

In [7]:
# 모델의 수식 확인
print(model.get_weights())

[array([[-8.6852923e-02],
       [ 7.2309978e-02],
       [-4.8858397e-02],
       [ 3.2801919e+00],
       [ 1.7907542e+00],
       [ 3.8582313e+00],
       [ 2.0570835e-02],
       [-7.9617667e-01],
       [ 1.5410994e-01],
       [-9.4961980e-03],
       [ 1.2177825e-03],
       [ 1.6410720e-02],
       [-5.9179103e-01]], dtype=float32), array([2.7698855], dtype=float32)]